:root {
    --main-bg-color: #60a9ff;
    --panel-bg-color: #fff;
    --border-default-color: #e1f1ff;
    --border-btn-color: #9dd1ff;
    --font-heading-color: #888;
    --font-highlighting-color: #016ff9;
    --font-btn-color: #348efe;
    --pricing-btn-background: #48aaff;
    --pricing-btn-color: #fff;
    --pricing-btn-hover-background: #269aff;
    --pricing-btn-hover-color: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 100%;
    line-height: 1;
}

ol, ul {
    list-style: none;
}

html {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.panel {
    margin: 20px;
    background-color: var(--panel-bg-color);
    border-radius: 10px;
    padding: 15px 25px;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
}

.pricing-plan {
    border-bottom: 1px solid var(--border-default-color);
} 

.pricing-plan:last-child {
    border-bottom: none;
}

.pricing-img {
    margin: 25px;
    max-width: 100%;
}

.pricing-header {
    color: var(--font-heading-color);
    font-weight: 600;
    letter-spacing: 1px;
}

.pricing-features {
    margin: 50px 0 25px;
    color: var(--font-highlighting-color);
}

.pricing-features-item {
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 1.5;
    padding: 15px 0;
    border-top: 1px solid var(--border-default-color);
}

.pricing-features-item:last-child {
    border-bottom: 1px solid var(--border-default-color);
}

.pricing-price {
    color: var(--font-highlighting-color);
    display: block;
    font-size: 32px;
    font-weight: 700;
}

.pricing-button {
    border: 1px solid var(--border-default-color);
    border-radius: 10px;
    color: var(--font-btn-color);
    display: inline-block;
    text-decoration: none;
    margin: 25px 0;
    padding: 15px 35px;
    transition: background-color 200ms ease-in-out;
}

.pricing-button:hover, .pricing-button:focus {
    background-color: var(--border-default-color);
  }

  .pricing-button.is-featured {
    background-color: var(--pricing-btn-background);
    color: var(--pricing-btn-color);
  }
  
  .pricing-button.is-featured:hover, .pricing-button.is-featured:focus{
    background-color: var(--pricing-btn-hover-background);
    color: var(--pricing-btn-hover-color);
  }
  
  @media (min-width: 900px){
    .panel {
      flex-direction: row;
    }
    .pricing-plan {
      border-bottom: none;
      border-right: 1px solid var(--border-default-color);
      padding: 25px 50px;
    }
    .pricing-plan:last-child {
      border-right: none;
    }
  }